* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
}

html {
  height: 300vh;
  background: linear-gradient(170deg, #383838 0%, #0f0f0f 30%);
}

html body {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

header h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (max-width: 360px) {
  header h1 {
    font-size: 24px;
  }
}

header h1 h2 {
  font-size: 12px;
  padding-top: 5px;
}

header h1 strong {
  color: #ffffff;
  background-color: transparent;
}

/* fix and change later*/
.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrap aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 250px;
  padding-right: 16px;
  padding-top: 10px;
}

@media screen and (max-width: 750px) {
  .content-wrap aside {
    display: none;
  }
}

.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrap aside nav h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 16px;
}

.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #171a21;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 999px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap aside nav a:hover {
  background-color: #313131;
  color: #ffffff;
}

.content-wrap main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  padding: 10px 16px;
}

@media screen and (max-width: 750px) {
  .content-wrap main {
    margin: 10px;
  }
}

.content-wrap main .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-wrap main .main-head .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 0;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 750px) {
  .content-wrap main .main-head .search-box input {
    margin: 0 auto;
  }
}

.content-wrap main .main-head .search-box input ::-webkit-input-placeholder {
  color: #ffffff;
}

.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: #ffffff;
}

.content-wrap main .main-head .search-box input ::-ms-input-placeholder {
  color: #ffffff;
}

.content-wrap main .main-head .search-box input ::placeholder {
  color: #ffffff;
}

.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #ffffff;
}

.content-wrap main .anime-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}

.content-wrap main .anime-list .anime-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 16px 8px;
}

@media screen and (max-width: 700px) {
  .content-wrap main .anime-list .anime-card {
    max-width: 45%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .content-wrap main .anime-list .anime-card {
    max-width: 48%;
  }
}

@media screen and (max-width: 360px) {
  .content-wrap main .anime-list .anime-card {
    max-width: 90%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 90%;
            flex: 1 0 90%;
  }
}

.content-wrap main .anime-list .anime-card a {
  text-decoration: none;
}

.content-wrap main .anime-list .anime-card figure {
  display: block;
  margin-bottom: 16px;
}

.content-wrap main .anime-list .anime-card figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap main .anime-list .anime-card h3 {
  color: #ffffff;
}

.content-wrap main .anime-list .anime-card:hover figure img {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=main.css.map */