* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: transparent;

   font-family: "Fira Sans", sans-serif;
}
html {
   height: 300vh;
   background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);

   body {
      max-width: 1300px;
      margin: 0 auto;
   }
}

header {
   padding-top: 50px;
   padding-bottom: 50px;
   //background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
   background-color: transparent;

   h1 {
      @media screen and (max-width: 360px) {
         font-size: 24px;
      }
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      background-color: transparent;
      color: #ffffff;

      h2 {
         font-size: 12px;
         padding-top: 5px;
      }
      strong {
         color: #ffffff;
         background-color: transparent;
      }
   }
}

/* fix and change later*/
.content-wrap {
   display: flex;

   aside {
      flex: 1 1 250px;
      max-width: 250px;
      padding-right: 16px;
      padding-top: 10px;

      @media screen and (max-width: 750px) {
         display: none;
      }
      nav {
         padding-left: 16px;
         padding-right: 16px;

         h3 {
            color: #ffffff;
            font-size: 24px;
            margin-bottom: 16px;
         }

         a {
            display: block;
            padding: 8px 16px;
            text-align: left;

            color: #171a21;
            font-size: 16px;
            margin-bottom: 16px;

            background-color: #ffffff;
            border-radius: 999px;
            text-decoration: none;

            transition: 0.4s;

            &:hover {
               background-color: #313131;
               color: #ffffff;
            }
         }
      }
   }

   main {
      flex: 1 1 0%;
      padding: 10px 16px;
      @media screen and (max-width: 750px) {
         margin: 10px;
      }
      .main-head {
         display: flex;
         justify-content: flex-end;

         .search-box {
            display: flex;
            justify-content: flex-end;
            flex: 1 1 0%;

            input {
               @media screen and (max-width: 750px) {
                  margin: 0 auto;
               }
               appearance: none;
               background: none;
               outline: none;
               border: none;

               margin-left: 0;
               margin-right: auto;

               display: block;
               width: 100%;
               max-width: 400px;
               padding: 16px;
               border-radius: 999px;
               background-color: #ffffff;

               transition: 0.4s;

               ::placeholder {
                  color: #ffffff;
               }

               &:focus,
               &:valid {
                  background-color: #313131;
                  color: #ffffff;
               }
            }
         }
      }

      .anime-list {
         display: flex;
         flex-wrap: wrap;
         margin-top: 32px;
         margin: 32px -8px 0px;

         .anime-card {
            flex: 1 1 33.333%;
            max-width: 33.333%;
            padding: 16px 8px;
            @media screen and (max-width: 700px) {
               max-width: 45%;
               flex: 1 0 45%;
               margin: 0 auto;
               text-align: center;
            }
            @media screen and (max-width: 450px) {
               max-width: 48%;
            }
            @media screen and (max-width: 360px) {
               max-width: 90%;
               flex: 1 0 90%;
            }

            a {
               text-decoration: none;
            }

            figure {
               display: block;
               margin-bottom: 16px;

               img {
                  display: block;
                  width: 100%;
                  height: 350px;
                  object-fit: cover;
                  border-radius: 16px;
                  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

                  transition: 0.4s;
               }
            }

            h3 {
               color: #ffffff;
            }

            &:hover {
               figure {
                  img {
                     box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
                     transform: scale(1.05);
                  }
               }
            }
         }
      }
   }
}
